leonardo-pubsub.google-project = "broad-dsde-dev" # Needed temporarily. Will be removed soon

report-destination-bucket = "<YOUR-TESTING-BUCKET>" # if you're using leonardo's dev SA for local testing, make sure to give leonardo's dev SA write permission to this bucket
